_BASE_: "../Base-RCNN-FPN.yaml"
MODEL:
  MASK_ON: False
  WEIGHTS: "detectron2://ImageNetPretrained/FAIR/X-101-32x8d.pkl"
  PIXEL_STD: [57.375, 57.120, 58.395]
  RESNETS:
    STRIDE_IN_1X1: False  # this is a C2 model
    NUM_GROUPS: 32
    WIDTH_PER_GROUP: 8
    DEPTH: 101
  ROI_HEADS:
    NUM_CLASSES: 80
  ROI_BOX_HEAD:
    RES5HALVE: False
    POOLER_TYPE: "ROIPool"
    ATTR: True
    NUM_ATTRS: 80
SOLVER:
  STEPS: (210000, 250000)
  MAX_ITER: 270000
